body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template: 1fr 50px 1fr / 150px 50px 1fr;
}

.yellow-h, .yellow-v {
  background: #ffcd00;
}

.yellow-v {
  grid-area: 1 / 2 / 4 / 3;
}

.yellow-h {
  grid-area: 2 / 1 / 3 / 4;
}

.blue {
  background: #006aa7;
  grid-area: 1 / 1 / 4 / 4;
}